<h1>Index</h1>

<div class="cards container mt_3">
  <% @diggers.each do |digger|  %>
    <div class="card-product">
      <%= cl_image_tag digger.photo, height: 300, width: 400, crop: :fill %>
      <div class="card-product-infos">
        <h2><%= digger.name %></h2>
        <p><%= digger.technical_specification %></p>
      </div>
    </div>
    <br>
  <% end %>
</div>



