<div class="container">
  <h2 class="mt-3">Matching Diggers</h2>
    <% @diggers.each do |digger| %>
      <%= render partial: "shared/matched_digger_card", locals: {digger: digger}%>
    <% end %>
</div>
