
<div class="container">
  <h1>#Channels</h1>

  <div class="channel-cards">
    <% @conversations.each do |conversation| %>
      <div class="card-channel" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1517089258673-4b72e709a9c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1568&q=80)">
        <%= link_to "##{conversation.name}", conversation_path(conversation) %>
      </div>
    <% end %>
  </div>




  <%= simple_form_for [Conversation.new] do |f| %>
    <%= f.input :name %>
    <%= f.submit "New Channel", class: "btn btn-primary" %>
  <% end %>
</div>


