<h2>Awaiting Response</h2>
<% @awaiting.each do |booking| %>
  <%= render partial: "shared/requested_digger_card", locals: {booking: booking}%>
<% end %>

<h2>Approved</h2>
<% @approved.each do |booking| %>
  <%= render partial: "shared/requested_digger_card", locals: {booking: booking}%>
<% end %>

<h2>Rejected</h2>
<% @rejected.each do |booking| %>
  <%= render partial: "shared/requested_digger_card", locals: {booking: booking}%>
<% end %>

<!-- if policy(Booking).approval? && booking.approved == nil -->

