<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/maxwrf/dig-it"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <span class="thematic-blur">I dig therefore I am.</div> © Can I Dig It International, 2019.
  </span>
</div>
