.chat-symbol {
  border-radius: 10px;
  padding: 8px
}

.message-inbox {
  .card-product img {
    height: 80px;
    width: 81px;
    margin-left: 20px;
    margin-right: 32px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
