.date-form {
  opacity: 0.9;
  height: 280px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: $text-primary;
  font-weight: bold;
  margin-top: 20px;
  padding: 20px;
  width: 400px;
  background: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
}
