.navbar-all {
  justify-content: space-between;
  background-color: white;
}

.navbar-all .navbar-collapse {
  flex-grow: 0;
}

.navbar-all .navbar-brand img {
  width: 40px;
}

.navbar-all .text-color-black {
  color: #202528;
}
